<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corazón Contento</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/CSS/list.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


</head>
<body>
   <!-- Nav_bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Corazón contento</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/list_of_donators">Organizaciones solidarias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/list_of_receivers">Organizaciones beneficiadas</a>
                    </li>
                </ul>
                {% if user != false: %}
                    <form class="d-flex">
                        <a href="/logout" class="btn btn-outline-success me-2" type="submit">Cerrar Sesión</a>
                    </form>
                {% else: %}
                    <form class="d-flex">
                        <a href="/register" class="btn btn-outline-success me-2" type="submit">Registrarse</a>
                        <a href="/login" class="btn btn-outline-success me-2" type="submit">Iniciar Sesión</a>
                    </form>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="table-responsive col-8 justify-content-center">
                {% if donators != False: %}
                <table class="table">
                    <thead>
                        <tr>
                            <th >Nombre</th>
                            <th>Organización</th>
                            <th>Dirección</th>
                            <th>Contacto</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for donator in donators %}
                        <tr>
                            <td>{{donator['name']}}</td>
                            <td>{{donator['type']}}</td>
                            <td>{{donator['state']}},{{donator['city']}},{{donator['address']}}</td>
                            <td>{{donator['contact_first_name']}} {{donator['contact_last_name']}}, {{donator['contact_email']}}</td>
                        </tr>
                        {% endfor%}
                    </tbody>
                </table>
                {% else: %}
                <h1>Aún no existen donadores registrados</h1>
                {% endif %}

            </div>  
        </div>
    </div>
        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>