<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='CSS/registry.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Registro como beneficiario</title>
</head>

<body>
    <!-- Nav_bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Corazón contento</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/list_of_donators">Organizaciones solidarias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/list_of_receivers">Organizaciones beneficiadas</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <a href="/register" class="btn btn-outline-success me-2" type="submit">Registrarse</a>
                    <a href="/login" class="btn btn-outline-success me-2" type="submit">Iniciar Sesión</a>
                </form>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="form">
            <h1>Regístrese como beneficiario</h1>
            {% with messages = get_flashed_messages(category_filter=['register']) %}
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                <strong>Errores a la hora de registrarse. Por favor inténtelo nuevamente</strong>
                {% for message in messages %}
                <p>{{message}}</p>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
            <form action="/register_user" method="POST">
                <div class="form-group">
                    <label for="name">Nombre de la organización:</label>
                    <input required class="form-control" type="text" name="name" id="name">
                </div>
                <label for="type">Tipo de organización:</label>
                <select class="form-select" name="type" aria-label="Default select example">
                    <option value="Comedor Infantil" selected>Comedor infantil</option>
                    <option value="Asociación comunal">Asociación comunal</option>
                    <option value="Asilo de angmailcianos">Asilo de ancianos</option>
                    <option value="ONG">ONG</option>
                    <option value="otros">otro</option>
                </select>
                <div class="form-group">
                    <label for="population">Población que atiende:</label>
                    <input required class="form-control" type="number" name="population" id="population">
                </div>
                <label for="state">Provincia:</label>
                <select class="form-select" name="state" aria-label="Default select example">
                    <option value="San Jose" selected>San José</option>
                    <option value="Heredia">Heredia</option>
                    <option value="Cartago">Cartago</option>
                    <option value="Alajuela">Alajuela</option>
                    <option value="Limon">Limón</option>
                    <option value="Puntarenas">Puntarenas</option>
                    <option value="Guanacaste">Guanacaste</option>
                </select>
                <div class="form-group">
                    <label for="city">Cantón:</label>
                    <input required class="form-control" type="text" name="city" id="city">
                </div>
                <div class="form-group">
                    <label for="address">Dirección exacta:</label>
                    <input required class="form-control" type="text" name="address" id="address">
                </div>
                <h2>Información sobre la persona de contacto</h2>
                <div class="form-group">
                    <label for="contact_first_name">Nombre(s):</label>
                    <input required class="form-control" type="text" name="contact_first_name" id="contact_first_name">
                </div>
                <div class="form-group">
                    <label for="contact_last_name">Apellido(s):</label>
                    <input required class="form-control" type="text" name="contact_last_name" id="contact_last_name">
                </div>
                <div class="form-group">
                    <label for="contact_phone">Teléfono:</label>
                    <input required class="form-control" type="text" name="contact_phone" id="contact_phone">
                </div>
                <div class="form-group">
                    <label for="contact_email">Email:</label>
                    <input required class="form-control" type="text" name="contact_email" id="contact_email">
                </div>
                <div class="form-group">
                    <label for="password">Contraseña:</label>
                    <input required class="form-control" type="password" name="password" id="password">
                </div>
                <div class="form-group">
                    <label for="cpassword">Confirmación de la contraseña:</label>
                    <input required class="form-control" type="password" name="cpassword" id="cpassword">
                </div>
                <div>
                    <button class="btn btn-outline-success mt-3" type="submit">Registrarse</button>
                </div>
                <input type="hidden" name="user_type" value="receiver" id="user_type">

            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>